## Heroes of Pymoli

Erin Bentley |
Data Visualization Boot Camp |
12.14.19

In [92]:
import pandas as pd
import math
import os

pdata = pd.read_csv("Resources/purchase_data.csv")
pdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [ ]:
#Display the total number of players

In [109]:
total_players = pdata["SN"].drop_duplicates().count()
df_players = pd.DataFrame({"Total Players": [total_players]})

df_players

   Total Players
0            576

## Purchasing Analysis (Total)

In [110]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [111]:
total_items = pdata["Item ID"].drop_duplicates().count()
total_items

average_price = pdata["Price"].mean()
average_price

total_price = pdata["Price"].sum()
total_price

purchase_count = pdata["Purchase ID"].drop_duplicates().count()
purchase_count

df_purchasing_analysis = pd.DataFrame({"Total Items": [total_items], "Average Price": [average_price], 
                                     "Total Price": [total_price], "Purchase Count": [purchase_count] 
                                      })
df_purchasing_analysis

   Total Items  Average Price  Total Price  Purchase Count
0          183       3.050987      2379.77             780

## Gender Demographics

In [112]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [113]:
player_genders = pdata.groupby("Gender")["SN"].nunique()
genders= player_genders.sum()

player_genders

males = player_genders["Male"]
percent_male = round(males/genders*100,2)

females = player_genders["Female"]
percent_female = round(females/genders*100,2)

n_a = player_genders["Other / Non-Disclosed"]
percent_n_a = round(n_a/genders*100,2)

gender_df = pd.DataFrame({
    "Total Count":[males,females,n_a],
    "Percentage of Players":[percent_male,percent_female,percent_n_a]},
    index=["Male","Female","Other / Non-Disclosed"])

gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

In [126]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

number = pdata.groupby("Gender")["Purchase ID"].nunique()
avg = round(pdata.groupby("Gender")["Price"].mean(),2)
ptpp = pdata.groupby("Gender")["Price"].sum()
gender_df = pdata.groupby(["Gender","SN"]).Price.agg(['sum'])
female_avg = gender_df.loc["Female"].mean()
female_avg = female_avg.loc['sum'].round(2)
male_avg = gender_df.loc["Male"].mean()
male_avg = male_avg.loc['sum'].round(2)
n_a_avg = gender_df.loc["Other / Non-Disclosed"].mean()
n_a_avg = n_a_avg.loc['sum'].round(2)

breakdown_x_gender = pd.DataFrame(
    {"Purchase Count":number, 
     "Average Purchase Price":avg, 
     "Total Purchase Value":ptpp,
     "Avg Total Purchase Total per Person":[female_avg,male_avg,n_a_avg]}
) 
breakdown_x_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Total per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56