## Heroes of Pymoli

Erin Bentley |
Data Visualization Boot Camp |
12.14.19

In [167]:
import pandas as pd

pdata = pd.read_csv("Resources/purchase_data.csv")
pdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [168]:
#Display the total number of players

In [169]:
total_players = pdata["SN"].drop_duplicates().count()
df_players = pd.DataFrame({"Total Players": [total_players]})
df_players

   Total Players
0            576

## Purchasing Analysis (Total)

In [170]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [171]:
total_items = pdata["Item ID"].drop_duplicates().count()
total_items

average_price = pdata["Price"].mean()
average_price

total_price = pdata["Price"].sum()
total_price

purchase_count = pdata["Purchase ID"].drop_duplicates().count()
purchase_count

df_purchasing_analysis = pd.DataFrame({"Total Items": [total_items], "Average Price": [average_price], 
                                     "Total Price": [total_price], "Purchase Count": [purchase_count] 
                                      })
df_purchasing_analysis

   Total Items  Average Price  Total Price  Purchase Count
0          183       3.050987      2379.77             780

## Gender Demographics

In [172]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [173]:
player_genders = pdata.groupby("Gender")["SN"].nunique()
genders= player_genders.sum()

player_genders

males = player_genders["Male"]
percent_male = round(males/genders*100,2)

females = player_genders["Female"]
percent_female = round(females/genders*100,2)

n_a = player_genders["Other / Non-Disclosed"]
percent_n_a = round(n_a/genders*100,2)

gender_df = pd.DataFrame({
    "Total Count":[males,females,n_a],
    "Percentage of Players":[percent_male,percent_female,percent_n_a]},
    index=["Male","Female","Other / Non-Disclosed"])
gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

In [174]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

number = pdata.groupby("Gender")["Purchase ID"].nunique()
avg = round(pdata.groupby("Gender")["Price"].mean(),2)
ptpp = pdata.groupby("Gender")["Price"].sum()
gender_df = pdata.groupby(["Gender","SN"]).Price.agg(['sum'])
female_avg = gender_df.loc["Female"].mean()
female_avg = female_avg.loc['sum'].round(2)
male_avg = gender_df.loc["Male"].mean()
male_avg = male_avg.loc['sum'].round(2)
n_a_avg = gender_df.loc["Other / Non-Disclosed"].mean()
n_a_avg = n_a_avg.loc['sum'].round(2)

breakdown_x_gender = pd.DataFrame(
    {"Purchase Count":number, 
     "Average Purchase Price":avg, 
     "Total Purchase Value":ptpp,
     "Avg Total Purchase Total per Person":[female_avg,male_avg,n_a_avg]}
) 
breakdown_x_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Total per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

In [175]:
# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

ages_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
ages_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(pdata["Age"], ages_bins, labels=ages_labels)

pdata[" "] = pd.cut(pdata["Age"], ages_bins, labels=ages_labels)
group_SN_age = pdata.groupby(["SN"," "])
group_SN_age.size()

age_df = pd.DataFrame(group_SN_age.size().groupby([" "]).count())
age_df.columns=["Total Count"]
age_df["Percentage of Players"] =round((age_summary["Total Count"]/age_summary["Total Count"].sum())*100,2)
age_df

       Total Count  Percentage of Players

<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

In [176]:
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

ages_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
ages_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pdata["Age Ranges"] = pd.cut(pdata["Age"], ages_bins, labels=ages_labels)

purchases_x_age = pdata.groupby(['Age Ranges']).count()['Price'].rename("Avg Purchase Count")
price_x_age = pdata.groupby(['Age Ranges']).mean()['Price'].rename("Avg Purchase Price")
value_x_age = pdata.groupby(['Age Ranges']).sum()['Price'].rename("Total Purchase Value")
avg_x_age= purchases_x_age/age_df["Total Count"]

breakdown_x_age = pd.DataFrame(
    {"Purchase Count":purchases_x_age,
     "Average Purchase Price":price_x_age,
     "Total Purchase Value":value_x_age,
     "Avg Total Purchase per Person":avg_tot_pp})
breakdown_x_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

# Top Spenders

In [177]:
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

purchase_count = pdata.groupby(["SN"]).count()["Price"].rename("Purchase Count")
purchase_count
avg_price = pdata.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
total_value = pdata.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

top_spenders = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_price, 
    "Total Purchase Value":total_value})
top_spenders = (top_spenders.reset_index()
            .sort_values(by="Total Purchase Value",ascending=False)
            .set_index('SN')
            .head())
top_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

# Most Popular Items

In [178]:
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

items = pdata[['Item ID','Item Name','Price']]
number_purchased = items.groupby(['Item ID','Item Name']).count()["Price"].rename("Purchase Count")
item_price = items.groupby(['Item ID','Item Name'])["Price"].unique().str.get(0)
purchase_value = items.groupby(['Item ID','Item Name']).sum()["Price"]
popular_items = pd.DataFrame({"Purchase Count":number_purchased,
                              "Item Price":item_price,
                              "Total Purchase Value":purchase_value})

top_items = (popular_items.reset_index()
            .sort_values(by="Purchase Count",ascending=False)
            .set_index(['Item ID','Item Name'])
            .head())
top_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

# Most Profitable Items

In [179]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame

most_profitable = (popular_items.reset_index()
                   .sort_values(by="Total Purchase Value",ascending=False)
                   .set_index(['Item ID','Item Name'])
                   .head())
most_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.